*{
    border: 1px solid red;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
  background-color: grey;
  background-size: cover;
}
.container{
  margin: 0 auto;
}
.box1{
  max-width: 200px;
  display: inline-block;
  margin-left: auto;
  float: left;
}
.box2{
  width: 600px;
  height: 500px;
  display: inline-block;
  margin: 0 auto;
  background-image: url("http://i.imgur.com/lP9gOQQ.png");

}
.box3{
  width: 200px;
  display: inline-block;
  margin-left: auto;
  float: right;
}