
/**{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}*/

body{/*
  margin: 50px;*/
  background-color: black;
  /*background-image: url("http://i.imgur.com/SjY2G9G.png");*/
  background-image: url("https://i.imgur.com/DOFhICG.png");
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  color: black;
}
h1{
  font-size: 100px;
  text-align: center;
  color: white;
  text-shadow: 3px solid black;
}
.container{
  width: 100%;
  height: 1000px;
  margin: 0 auto;
}
#marvin{
  display: inline-block;
  margin-left: auto;
  float:left;
  width: 50px;
  height: 70px;
}
.box1{
  color: white;
  display: inline-block;
  background-color: red;
}
.box2{
  overflow: hidden;
  width: 1500px;
  height: 1000px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: inline-block;
  background-image: url("https://i.imgur.com/3bZKyW0.jpg?1");  
  background-size: cover;
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
  border-radius: 10px;
/*  cursor:  url(foo.cur), url("http://i.imgur.com/7Wm2dJT.png"), auto;*/
}
p{
  height: 100px;
  text-align: center;
}
.box3{
  background-color: pink;
  width:auto;
  display: inline-block;
  margin-left: 0 auto;
  font-size: 60px;
  float: right;
  padding-right: 40px;
  vertical-align: middle;
}
#game-over{
  width: 1500px;
  height: 1000px;
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  background-color: black;
  font-size: 50px;
  text-align: center;
  color: green;
}
#start-screen{
  width: 1500px;
  height: 1000px;
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  background-color: black;
  font-size: 50px;
  /*text-align: center;*/
  color: pink;
}
button{
  display: block;
  margin-left: 725px;
  margin-right: 725px;
  margin-top: 450px;
  font-family: 'Press Start 2P', cursive;
  background-color: red;
  border: 5px grey;
  color: white;
  font-size: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
#play-again{
  font-family: 'Press Start 2P', cursive;
  background-color: yellow;
  font-size: 20px;
  color: black;
  font-size: 20px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  text-align: center;

}
.ship{
  position: relative;
  background-image: url('../images/ship.png');
  width: 100px;
  height: 100px;
}
/*.explode{
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
}*/
.vogon{
  width: 150px;
  height: 150px;
  padding: 20px;
}
.alien{
  display: inline-block;
  margin-left: 850px;
  width: 250px;
  height:250px;


}